
  </textarea>

  <canvas class="screen" width="160" height="160"></canvas>

  <div class="debugger">
    <input type="checkbox" class="debug" name="debug" />
    <label for="debug">디버거</label>
    <div class="minidebugger"></div>
    <div class="buttons">
      <input type="button" value="한 단계 실행" class="stepButton" />
      <input type="button" value="주소로 이동..." class="gotoButton" />
    </div>
  </div>

  <div class="monitorControls">
    <label for="monitoring">메모리 모니터</label>
    <input type="checkbox" class="monitoring" name="monitoring" />

    <label for="start">시작: $</label>
    <input type="text" value="0" class="start" name="start" />
    <label for="length">길이: $</label>
    <input type="text" value="ff" class="length" name="length" />
  </div>

  <div class="monitor"><pre><code></code></pre></div>
  <div class="messages"><pre><code></code></pre></div>

  <div class="notes" style="display: none">참고 사항:

메모리 위치 $fe에는 명령어가 실행될 때마다 새로운 무작위 바이트가 들어갑니다.
메모리 위치 $ff에는 마지막으로 누른 키의 ASCII 코드가 들어 있습니다.

메모리 위치 $200부터 $5ff까지는 화면의 픽셀에 대응합니다. 저장하는 값에 따라
서로 다른 색의 픽셀이 그려집니다. 색은 다음과 같습니다.

$0: 검은색
$1: 흰색
$2: 빨간색
$3: 청록색
$4: 보라색
$5: 초록색
$6: 파란색
$7: 노란색
$8: 주황색
$9: 갈색
$a: 연한 빨간색
$b: 진한 회색
$c: 회색
$d: 연한 초록색
$e: 연한 파란색
$f: 연한 회색
    </div>
</div>
