<!doctype html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T24VL5516K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-T24VL5516K');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta property="twitter:account_id" content="17736965">
    <title>skilldrick의 Easy 6502</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="simulator/style.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Easy 6502</h1>
        <p><em>글쓴이:</em> <a href="https://twitter.com/skilldrick">Nick Morgan</a>, 라이선스: <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></p>
        <p class="view"><a href="https://github.com/skilldrick/easy6502/tree/gh-pages">GitHub에서 포크하기</a></p>
        <ul>
          <li><a href="#intro">소개</a></li>
          <li><a href="#first-program">첫 번째 프로그램</a></li>
          <li><a href="#registers">레지스터와 플래그</a></li>
          <li><a href="#instructions">명령어</a></li>
          <li><a href="#branching">분기</a></li>
          <li><a href="#addressing">주소 지정 방식</a></li>
          <li><a href="#stack">스택</a></li>
          <li><a href="#jumping">점프</a></li>
          <li><a href="#snake">게임 만들기</a></li>
        </ul>
      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        <p><small>GitHub Pages에서 호스팅 &mdash; 테마 제작: <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="simulator/es5-shim.js"></script>
    <script src="simulator/assembler.js"></script>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
